.logo {
    margin: 10px 0;
}

.menu {
    color: #000;
    font-family: 'Roboto Serif', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}