.trip {
    margin-top: 50px;
}

.trip h3 {
    color: #20277C;
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.trip span {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.trip button {
    background-color: #fff;
    border: 1px solid #DB2319;
    color: #DB2319;
    transition: all .3s ease;
}

.trip svg {
    display: none;
    transition: all .3s ease;
}

.trip button:hover {
    background-color: #DB2319;
    color: #fff;
}

.trip button:hover svg {
    display: block;
}

/* swiper */
.trip .swiper-button-prev,
.trip .swiper-button-next {
    position: relative;
    left: 50%;
    top: 100%;
}

.trip .swiper-button-prev {
    transform: translate(calc(-100% - 15px), 50%);
}

.trip .swiper-button-next {
    transform: translate(0%, -10px);
}

.swiper-wrapper {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}